{% extends 'base.html' %}

{% block header %}
  <div class="center-header">
  	<h1 class="display-4 timer-title">{% block title %}{{ task }}{% endblock %}</h1>
  </div>
{% endblock %}
{% block content %}

<div class="container w-75">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <button type="button" id="start" class="start_pause btn btn-lg btn-block btn-outline-primary button-color" onclick="countdown()">Begin!</button>
    </div>
    <div class="card-body timer">
      <div class="card-body time_display" id="minutes">
        <p id="user_time">{{ time }}</p>
      </div>
      <div class="card-body colon">
        <p>:</p>
      </div>
      <div class="card-body time_display" id="seconds">
        <p>00</p>
      </div>
    </div>
  </div>
</div>

<div class="container w-75">
  <div class="card mb-4 shadow-sm">
    <form method="post">
      <div class="add_time">
        <button type="button" id="add_five" name="add_five" class="btn btn-lg btn-outline-primary button-color" onclick="add_time(5)">
        Add 5 Minutes
        </button>
        <button type="button" id="add_fifteen" name="add_fifteen" class="btn btn-lg btn-outline-primary button-color" onclick="add_time(15)">
        Add 15 Minutes
        </button>
      </div>
      <div class="complete">
        <button type="button" id="finish" name="finish" class="btn btn-lg btn-outline-primary button-color w-75">
          Finished!
        </button>
      </div>
    </form>
  </div>
</div>


<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script>
$(function() {
	$("#add_five").click(function() {
		console.log('Before ajax');
		$.ajax({
			url: "{{ url_for('timer.five', id=g.user['id'], task_id=task_id) }}",
			type: 'POST',
			data: 5,
		});
		console.log('after ajax');
		return false;
	});
	$("#add_fifteen").click(function() {
		console.log('Before ajax');
		$.ajax({
			url: "{{ url_for('timer.fifteen', id=g.user['id'], task_id=task_id) }}",
			type: 'POST',
			data: 5,
		});
		console.log('after ajax');
		return false;
	});
	$("#finish").click(function() {
		console.log('in finish');
		time_left = document.getElementById('user_time').innerHTML;
		console.log(time_left);
		finish();
		$.ajax({
			url: "{{ url_for('timer.challenges', id=g.user['id'], task_id=task_id) }}",
			type: 'POST', 
			data: {time_left_v: time_left},
			success: function(response) {
				if (response) {
					console.log('ready to redirect');
					window.location.href = response.redirect;
				}
			}
		});
	});
});
</script>
{% endblock %}
