{% extends 'base.html' %}

{% block header %}
  <div class="center-header">
	<h1 class="display-4">{% block title %}History{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}

<div class="container">
  <form method="post">
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="delete_all">Reset</button>
  </form>
</div>
<div class="container">
  <div class="history">
      <div class="header_tasks">
	<p class= "task">Name</p>
	<p class="time_allocated">Input Time</p>
	<p class="time_finished">Actual Time</p>
	<p class="complete">Complete?</p>
      </div>
      {% for item in work_history %}
      <div class="task_info">
      	<p class="task">{{ item['task'] }}</p>
	<p class="time_allocated">{{ item['time_allocated'] }}</p>
	<p class="time_finished">{{ item['time_finished'] }}</p>
	<p class="complete">{{ 'Yes' if item['complete'] == 1  else 'No' }}</p>
      </div>
      {% endfor %}
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>

{% endblock %}
