{% extends 'base.html' %}

{% block header %}
<div class="center-header">
  <h3 class="display-4 timer-title">{% block title %}New Challenge{% endblock %}</h3>
</div>
{% endblock %}

{% block content %}
<body>
  <div class="sign-in">
  <form method="post" class="w-75">
    <label for="challenge">Challenge</label>
    <input name="challenge" id="challenge" value="{{ request.form['challenge'] }}" required placeholder="Describe your challenge!">
    <label for="time">Time (Minutes)</label>
    <input name="time" id="time" value="{{ request.form['time'] }}" required placeholder="Time to complete your challenge">
    <button class="btn btn-lg btn-primary btn-block button-color" type="submit">
      Start Challenge
    </button>
  </form>
  </div>
</body>
{% endblock %}
