{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Challenge{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="challenge">Challenge</label>
    <input name="challenge" id="challenge" value="{{ request.form['challenge'] }}" required>
    <label for="time">Time</label>
    <input name="time" id="time" value="{{ request.form['time'] }}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Start Challenge
    </button>
  </form>
{% endblock %}
