{% extends 'base.html' %}

{% block header %}
<div class="center-header">
  <h3 class="display-4 timer-title">{% block title %}Log In{% endblock %}</h3>
</div>
{% endblock %}

{% block content %}
<body>
  <div class="sign-in">
    <form method="post" class="form-signin w-75">
      <label for="username" class="sr-only">Username</label>
      <input name="username" id="username" placeholder="Username" required class="form-control">
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
      <button class="btn btn-lg btn-primary btn-block button-color" type="submit">Sign In</button>
	    <!-- <input type="submit" value="Log In"> -->
    </form>
  </div>
</body>
{% endblock %}
