{% extends 'base.html' %}

{% block header %}
<div class="center-header">
  <h3 class="display-4 timer-title">{% block title %}Register{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<body>
  <div class="sign-in">
  <form method="post" class="form-signin w-75">
    <label for="username" class="sr-only">Username</label>
    <input name="username" id="username" class="form-control" placeholder="Username" required>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
    <button class="btn btn-lg btn-primary btn-block button-color" type="submit">Register</button>
  </form>
  </div>
</body>
{% endblock %}
