body { 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header { 
    color: black;
    margin: 1rem 0; 
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

a { color: #312c32; }

hr { border: none; border-top: 1px solid lightgray; }

nav { 
    background: #80bd9e;
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
    width: 100%
}
nav h1 { flex: auto; margin: 0 }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { 
    padding: 0 1rem 1rem;
}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 6%;
    border-radius: 2%;
}

.timer  {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time_display {
    max-width: 35%;
    text-align:center;
}

.colon {
    max-width: 6%;
    text-align: center;
}

.complete, .add_time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

.add_time button {
    width: 40%;
    min-height: 90%;
}

.task_name {
    padding-top: 0;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.task_info {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 2%;
}

.task {
    min-width: 50%;
}

.time_allocated {
    min-width: 15%;
}

.time_finished{
    min-width: 15%
}

.complete {
    min-width: 5%;
}

.history > .header_tasks {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 2%;
}
